%br
%br

%h1.results-page-header.text-center
  = @drug.name.upcase
  %br
  is (not) gluten-free!

%br

%p.text-center
  This is based on the following information from the FDA:

%br
%br
%br

%p.text-center.log-in-or-create-account
  Want to save your searches?
  %br
  = link_to "Log in", "/"
  or
  = link_to "create an account", "/"
