.row.text-center
  .col-md-1
  .col-md-3
    %p.past-search-data search_result.medication
  .col-md-3
    %p.past-search-data search_result.gluten_free
  .col-md-3
    %p.past-search-data ingredients maybeh
  .col-md-1
