.row.text-center
  .col-md-1
  .col-md-3
    %p.past-search-data
      = search_result.medication.upcase
  .col-md-3
    %p.past-search-data
      = search_result.gluten_free_status.capitalize
  .col-md-3
    %p.past-search-data
      = search_result.suspect_ingredients_formatted
  .col-md-1
