%br

%h1.text-center.users-page-header
  = "Hi, #{current_user.name}. Here are your past searches:"

%br
%br

.row
  .col-md-1
  .col-md-10
    .well
      .row.text-center
        .col-md-1
        .col-md-3
          %h2 Medication
        .col-md-3
          %h2 Gluten-free?
        .col-md-3
          %h2 Suspect Ingredients
        .col-md-1

      .row
        .col-md-1
        .col-md-10
          %hr
        .col-md-1

      - if !@searches.empty?
        - @searches.each do |search|
          = render search
      - else
        = content_tag :p, "You don't have any saved searches yet.", class: "user-show-page-well"

  .col-md-1

%br
%br

.row
  .col-md-3
  .col-md-6.text-center
    %form{ action: "/" }
      %button{ type: "submit", class: "btn btn-info"} New Search
  .col-md-3

%br
%br
