---
http_interactions:
- request:
    method: get
    uri: https://api.fda.gov/drug/label.json?search=inactive_ingredient:bee%20venom
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"103ef-CeRBO4BI99vo4gSWXsQ/Kw"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "meta": {
            "disclaimer": "openFDA is a beta research project and not for clinical use. While we make every effort to ensure that data is accurate, you should assume all results are unvalidated.",
            "license": "http://open.fda.gov/license",
            "last_updated": "2016-01-07",
            "results": {
              "skip": 0,
              "limit": 1,
              "total": 1847
            }
          },
          "results": [
            {
              "effective_time": "20121231",
              "contraindications": [
                "CONTRAINDICATIONS Lisinopril tablets are contraindicated in patients who are hypersensitive to this product and in patients with a history of angioedema related to previous treatment with an angiotensin- converting enzyme inhibitor and in patients with hereditary or idiopathic angioedema."
              ],
              "precautions": [
                "PRECAUTIONS General Aortic Stenosis/Hypertrophic Cardiomyopathy As with all vasodilators, lisinopril should be given with caution to patients with obstruction in the outflow tract of the left ventricle. Impaired Renal Function As a consequence of inhibiting the renin-angiotensin-aldosterone system, changes in renal function may be anticipated in susceptible individuals. In patients with severe congestive heart failure whose renal function may depend on the activity of the ren[...]
- request:
    method: get
    uri: https://rxnav.nlm.nih.gov/REST/rxcui/311354/status.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"rxcuiStatus":{"status":"Active","remappedDate":"","minConceptGroup":{"minConcept":[{"rxcui":"311354","name":"Lisinopril
        5 MG Oral Tablet","tty":"SCD"}]}}}'
  recorded_at: Wed, 13 Jan 2016 21:04:31 GMT
recorded_with: VCR 3.0.0
