---
http_interactions:
- request:
    method: get
    uri: https://rxnav.nlm.nih.gov/REST/rxcui/701961/status.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"rxcuiStatus":{"status":"Active","remappedDate":"","minConceptGroup":{"minConcept":[{"rxcui":"701961","name":"Camphor
        62 MG/ML Inhalant Solution","tty":"SCD"}]}}}'
  recorded_at: Thu, 14 Jan 2016 21:05:45 GMT
recorded_with: VCR 3.0.0
