.row.text-center
  .col-md-1
  .col-md-3
    %p.past-search-data
      = search.medication.upcase
  .col-md-3
    %p.past-search-data
      = search.gluten_free_status.capitalize
  .col-md-3
    %p.past-search-data
      = search.suspect_ingredients_formatted
  .col-md-1
