%br
%br
%br
%br
%br
%br

.row
  .col-md-2
  .col-md-8.text-center
    %h1.search-page-header Type in the name of a prescription or OTC drug below to find out if it's gluten-free:
  .col-md-2

%br
%br
%br

.row
  .col-md-3
  .col-md-6.text-center
    %br
    = form_tag searches_path, method: :post, remote: true, id: "create-search-bar" do
      .form-group
        = text_field_tag "drug", "", maxlength: 50, class: "form-control"
      = submit_tag "Search", class: "btn btn-info"
  .col-md-3

%br
%br

.div#result

%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br

.row
  .col-md-3
  .col-md-6
    .text-center
      %p.disclaimer
        Drug information comes from the FDA, who provide it with the following disclaimer:
      %p.disclaimer
        "FDA hereby disclaim all warranties of any kind, express or implied, including without limitation the warranties of merchantability, fitness for a particular purpose, and non-infringement. FDA makes no warranty that openFDA data will be error free or that access thereto will be continuous or uninterrupted"
      %p.disclaimer
        Gluscription cannot therefore guarantee that the results of this site are error-free.
  .col-md-3
