.row
  .col-md-2
  .col-md-8
    %br
    .well.about-well
      .row
        .col-md-1
        .col-md-10
          %h1.text-center Who we are
          %br
          %p
            This website was built by
            = link_to "Torie", "https://t.co/B07c4o0Pyf"
            as a project at the
            = link_to "Turing School of Software & Design.", "https://www.turing.io/"
        .col-md-1

      %br
      %br

      .row
        .col-md-1
        .col-md-10
          %h1.text-center How we determine if a drug is gluten-free
          %br
          %p
            When you enter text in the search box and click "Search", Gluscription takes
            that text and searches a database for a matching drug (via the openFDA API).
            When it finds a drug, it checks if that database has a list of both active
            and inactive ingredients for that drug. If it does, it takes that list of
            ingredients and matches it against a list of ingredients that contain gluten,
            and a list of ingredients that may contain gluten.

            The lists that we use are the following:
            %br
            %br
            %p
              Ingredients containing gluten:
              %ul
                %li wheat
                %li barley
                %li rye
                %li wheatberries
                %li durum
                %li emmer
                %li semolina
                %li spelt
                %li dinkel
                %li farina
                %li farro
                %li faro
                %li graham
                %li khorasan
                %li einkorn
                %li triticale
                %li brewer's yeast
                %li wheat starch
                %li bulgur
                %li kamut
                %li matzo
                %li seitan
                %li atta
                %li fu
                %li couscous

            %br
            %br
            %p
              Ingredients that may contain gluten:
              %ul
                %li oats
                %li oat flour
                %li grain flour
                %li starch
                %li dextrin
                %li dextrate
                %li dextri-maltose
                %li maltodextrin
                %li starch
                %li sodium starch glycolate

            %br

        .col-md-1
  .col-md-2
