@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: "gravity";
  src: asset-url("gravity/Gravity-Book.otf");
}

$font-color: #f2f2f2;
$link-hover-color: #97979e;
$well-background-color: #364563;

$header-font-size: 220%;
$p-font-size: 160%;
$nav-font-size: 110%;
$disclaimer-font-size: 70%;

body {
  background-image: image-url("prescription");
  background-size: 100%;
  font-family: "gravity";
}

* {
  font-color: $font-color;
}

.nav li {
  font-size: $nav-font-size;
}

.flash_notice {
  text-align: center;
  color: $font-color;
}

.search-result-well, .about-well {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
}

@import "search.scss";
@import "users.scss";
@import "drugs.scss";
@import "about.scss";
@import "search_results.scss";
