@import "bootstrap-sprockets";
@import "bootstrap";

$font-color: #e6e6e6;
$link-hover-color: #97979e;
$background-color: #003cb3;

$header-font-size: 200%;
$p-font-size: 150%;
$disclaimer-font-size: 50%;

body {
  background-color: $background-color;
}

* {
  font-color: $font-color;
}

@import "search.scss";
@import "results.scss";
@import "users.scss";
