.search-page-header {
  font-size: $header-font-size;
  color: $font-color;
}

p {
  font-size: $p-font-size;
}

a {
  color: $font-color;
}

a:hover {
  color: $link-hover-color;
  text-decoration: none;
}

.home-page-link {
  font-size: $p-font-size;
}

.nav-pills a:hover {
  color: black;
}

.disclaimer {
  color: $font-color;
  font-size: $disclaimer-font-size;
}

.btn {
  width: 30%;
  color: black;
}

.btn:hover {
  color: black;
}
