.search-page-header {
  font-size: $header-font-size;
  color: $font-color;
}

p {
  font-size: $p-font-size;
  color: $font-color;
}

a {
  color: $font-color;
}

a:hover {
  color: $link-hover-color;
  text-decoration: none;
}

.home-page-link {
  font-size: $p-font-size;
}

.nav-pills a:hover {
  color: black;
}

.disclaimer {
  color: $font-color;
  font-size: $disclaimer-font-size;
}

.btn {
  width: 30%;
  color: black;
}

.btn:hover {
  color: black;
}

.not-found-notice {
  font-size: $p-font-size;
}

.log-in-or-create-account a {
  text-decoration: underline;
}

.search-result-well h1 {
  font-size: 150%;
}

#result {
  text-align: center;
}
