$well-font-color: black;

.users-page-header {
  color: $font-color;
  font-size: $header-font-size;
}

th {
  color: $font-color;
}

h2 {
  font-size: 110%;
  color: $well-font-color;
}

.past-search-data {
  color: $well-font-color;
}

hr {
  border-color: $well-font-color;
}

.user-show-page-well {
  color: $well-font-color;
  text-align: center;
}
