.users-page-header {
  color: $font-color;
  font-size: $header-font-size;
}

th {
  color: $font-color;
}

h2 {
  font-size: 110%;
  color: black;
}

.past-search-data {
  color: black;
}

hr {
  border-color: black;
}
